@charset "utf-8";
@font-face {
  font-family: 'Ubuntu';
  src: url('../font/Ubuntu-RI.ttf') format("truetype");
  src: url('../font/Ubuntu-R.ttf') format("truetype");
  src: url('../font/Ubuntu-M.ttf') format("truetype");
  src: url('../font/Ubuntu-MI.ttf') format("truetype");
  src: url('../font/Ubuntu-L.ttf') format("truetype");
  src: url('../font/Ubuntu-LI.ttf') format("truetype");
  src: url('../font/Ubuntu-C.ttf') format("truetype");
  src: url('../font/Ubuntu-BI.ttf')
  src: url('../font/Ubuntu-B.ttf') format("truetype"); format("truetype");
}
body {
	margin: 0px;
	font-family: Ubuntu;
}
.omni {
	color: #9D0000;
}

.kolom_besar {
	margin-right: auto;
	margin-left: auto;
	width: 510px;
	border: 2px solid #000066;
	border-radius: 30px;
	height: 200px;
	margin-top: 20px;
}
.kembali_menu {
	position: relative;
	float: left;
	top: 0px;
	text-decoration: underline;
	text-transform: uppercase;
	color: rgba(0,0,102,1);
	font-weight: bold;
	left: 90%;
}
.kembali_menu:hover {
	color: rgba(167,25,25,1);

}


.kolom_warning {
	margin-right: auto;
	margin-left: auto;
	width: 510px;
	border: 2px solid #000066;
	border-radius: 30px;
	height: 250px;
	margin-top: 100px;
	background-color: rgba(157,0,0,1);
}

.kolom_besar a {
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
}
.judul {
	position: relative;
	color: #000066;
	top: 30px;
	display: block;
	clear: both;
	text-align: center;
	height: 50px;
	width: 300px;
	left: 20%;
	font-size: 43px;
	font-weight: bold;
}
.judul-legend {
	color: #000066;
	clear: both;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
}


.as a {
	position: relative;
	top: 12px;
	left: 22px;
	font-size: 20px;
}

.pm a {
	position: relative;
	top: 12px;
	left: 40px;
	font-size: 20px;
}



.pm a:hover {
	color: #008b8a;
}


.ck a {
	position: relative;
	top: 12px;
	left: 42px;
	font-size: 20px;
}
.ck a:hover {
	color: #008b8a;

}











.as {
	display: block;
	float: left;
	height: 50px;
	width: 150px;
	margin-right: 20px;
	background-color: #9D0000;
	margin-top: 70px;
	position: relative;
	border-radius: 10px;
	margin-left: 10px;
	text-align: center;
	top: -25px;
}
.as:hover {
	background-color: #000066;
}
.pm:hover {
	background-color: #000066;
}
.ck:hover {
	background-color: #000066;
}



.site {
	font-size: 18px;
	position: relative;
	top: 10px;
}




.pm {
	display: block;
	float: left;
	height: 50px;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	background-color: #9D0000;
	border-radius: 10px;
	position: relative;
	top: -25px;
	text-align: center;
	left: 5px;
}



.ck {
	display: block;
	height: 50px;
	width: 150px;
	background-color: #9D0000;
	margin-top: 70px;
	border-radius: 10px;
	float: left;
	margin-left: 30px;
	position: relative;
	top: -25px;
	text-align: center;
}
.corporate {
	display: block;
	height: 50px;
	width: 150px;
	background-color: #9D0000;
	margin-top: 70px;
	border-radius: 10px;
	float: left;
	margin-left: 20px;
	position: relative;
	top: -25px;
	text-align: center;
}
.corporate a:hover {
	height: 50px;
	width: 150px;
	background-color: #000066;
	margin-top: 70px;
	margin-left: 20px;
	position: relative;
	top: -25px;
	text-align: center;
}


.turun {
	margin-top: 50px;
}
.judul-as {
	position: relative;
	color: #0000FF;
	top: 30px;
	display: block;
	clear: both;
	text-align: center;
	height: 50px;
	width: 300px;
	left: 20%;
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 30px;
}
.judul-ext {
	color: rgba(0,0,102,1);
	font-size: 36px;
	position: relative;
	font-weight: bold;
}
.judul-daftar {
	color: rgba(0,0,102,1);
	font-size: 30px;
	position: relative;
}




.ext {
	display: block;
	float: left;
	height: 45px;
	width: 140px;
	margin-right: 20px;
	background-color: #00afac;
	margin-top: 70px;
	position: relative;
	border-radius: 10px;
	margin-left: 100px;
	top: -30px;
	text-align: center;
}
.ext:hover {
	background-color: #008b8a;
}

.speed {
	display: block;
	float: left;
	height: 45px;
	width: 140px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	background-color: #00afac;
	border-radius: 10px;
	position: relative;
	top: -30px;
	text-align: center;
	left: 10px;
}
.speed:hover {
	background-color: #008b8a;

}


.back {
	clear: both;
	float: right;
	margin-bottom: 10px;
	position: relative;
	bottom: 20px;
	right: 20px;
	width: 50px;
	color: #000066;
	text-align: center;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}
.back:hover {
	color: #9D0000;
}
#ext-grid {
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	border: 3px solid #008b8a;
	border-radius: 5px;
}
.site-kecil {
	background-color: #00afac;
	height: 20px;
	color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 5px;
	text-transform: uppercase;
	width: 80px;
	text-align: center;
}
.site-kecil:hover {
	background-color: #008b8a;
}

.site-aktif {
	background-color: #008b8a;
	height: 20px;
	color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 5px;
	text-transform: uppercase;
	width: 80px;
	text-align: center;
}
.sites a {
	color: #FFF;
}


.sites {
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	margin-bottom: 20px;
}



.table_kepala {
	color: #FFFFFF;
	background-color: #00afac;
	text-transform: uppercase;
	text-align: center;
	border-radius: 10px;
}
.table_merah {
	color: #000000;
	background-color: #008b8a;
	text-transform: uppercase;
	border-radius: 10px;
}
.table_putih {
	color: #000000;
	background-color: rgba(255,255,255,0.6);
	text-transform: uppercase;
	border-radius: 10px;
}

.halaman {
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}
a {
	text-decoration: none;
}

.angka {
	font-size: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.hal_spasi {
	padding-right: 5px;
	padding-left: 5px;
}
.warning {
	font-size: 45px;
	position: relative;
	text-align: center;
	font-weight: bold;
	top: 85px;
	display: block;
	color: rgba(255,255,255,1);
}
header {
	display: block;
	position: fixed;
	margin-top: -60px;
	margin-right: auto;
	margin-left: auto;
}
fieldset {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	border-top-color: rgba(0,0,102,1);
	border-right-color: rgba(0,0,102,1);
	border-bottom-color: rgba(0,0,102,1);
	border-left-color: rgba(0,0,102,1);
	border-radius: 20px;
	padding-top: 40px;
	padding-right: 10px;
	padding-bottom: 50px;
	padding-left: 10px;
	margin-top: -20px;
}
legend {
	text-align: center;
	border: 2px solid rgba(0,0,102,1);
	border-radius: 10px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-right: 30%;
	margin-left: 30%;
}
.lari_lari {
	height: 50px;
	overflow: hidden;
	position: relative;
	margin-top: 40px;
}
.lari_lari p {
	font-size: 1.5em;
	color: rgba(0,0,102,1);
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 50px;
	text-align: center;
	/* Starting position */
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: lari_lari 15s linear infinite;
	-webkit-animation: lari_lari 15s linear infinite;
	animation: lari_lari 15s linear infinite;
	font-weight: bolder;
}
/* Move it (define the animation) */
@-moz-keyframes lari_lari {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes lari_lari {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes lari_lari {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}
.combo {
	color: rgba(0,0,102,1);
	font-size: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: rgba(0,0,102,0.1);
	border-radius: 2px;
	font-family: Ubuntu;
	position: relative;
	right: 18px;
}
.search-input-ext {
	color: rgba(0,0,102,1);
	font-size: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: rgba(0,0,102,0.1);
	border-radius: 2px;
	font-family: Ubuntu;
	position: relative;
	right: 10px;
}
.search-input-text {
	color: rgba(0,0,102,1);
	font-size: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: rgba(0,0,102,0.1);
	border-radius: 2px;
	font-family: Ubuntu;
	position: relative;
	right: 10px;
}


.total {
	position: relative;
	color: rgba(0,0,51,1);
	font-size: 16px;
	left: 20%;
	top: 40px;
}
.logo-depan {
	display: block;
	height: 70px;
	width: 250px;
	background-color: rgba(255,255,255,1);
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 70px;
	text-align: center;
	border: 2px solid rgba(0,0,102,1);
	border-radius: 10px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-left: 10px;
}
.logo-site {
	display: block;
	height: 80px;
	width: 300px;
	background-color: rgba(255,255,255,1);
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 35px;
	text-align: center;
	border: 2px solid rgba(0,0,102,1);
	border-radius: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-left: 10px;
}
.container {
	display: block;
	position: relative;
	top: 35px;

}
.tulisan {
	text-transform: uppercase;
	color: rgba(0,0,102,1);
	font-size: 120%;
	font-weight: bolder;
}




.display {
	border-radius: 10px;
	border: 2px solid rgba(157,0,0,1);
}

			div.container {
			    margin: 0 auto;
			    max-width:760px;
			}
			div.header {
			    margin: 100px auto;
			    line-height:30px;
			    max-width:760px;
			}
			body {
	color: #333;
	font-family: Ubuntu;
	font-size: 90%;
	line-height: 1.3em;
	background-color: #FFFFFF;
			}
		